<div class="container">
    <div class="tittle">
      <h1>Gestão Nupex</h1>
    </div>
    <div class="login-section">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Unifacisabasquete.png" alt="Logo Unifacisa">
      <h1>Bem vindo ao Nupex!</h1>
      <p>
        Transforme a gestão dos seus projetos educacionais com o Nupex, a plataforma
        completa para coordenadores e professores.
      </p>
      <form>
        <div class="input-group">
          <label for="email">Seu Email</label>
          <input type="email" id="email" placeholder="Email">
        </div>
        <div class="input-group">
          <label for="password">Sua Senha</label>
          <input type="password" id="password" placeholder="Senha">
        </div>
        <div class="options">
          <label class="checkbox-container">Salvar Dispositivo
            <input type="checkbox">
          </label>
        </div>
        <button type="submit" class="login-btn">Entrar</button>
        <div class="signup-option">
          <p>Ainda não está registrado? <a href="#">Cadastre-se</a></p>
        </div>
      </form>
    </div>
    <div class="info-section">
      <h2>Resumos Inteligentes</h2>
      <p>Transforme a gestão dos seus projetos educacionais com o Nupex, a plataforma
        completa para coordenadores e professores.</p>
      <div class="icones">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Unifacisabasquete.png" alt="Icone Nupex">
      </div>
    </div>
  </div>
  